<% error_messages_for :project %>

<%= form_for @project do |f| %>
<ul>
  <li>
    <%= f.label :name, "* Name" %>
    <%= f.text_field :name, :size => 50, :disabled => @disable_name ||= false,
                     :class => (@disable_name) ? "disabled" : "" %>
  </li>
  <li>
    <%= f.label :repo, "* Git Repository URL" %>
    <%= f.text_field :repo, :size => 50 %>
  </li>
  <li>
    <%= f.label :branch, "* Branch to Track" %>
    <%= hidden_field_tag "project[branch]", "master" %>
    <%= f.text_field :branch, :size => 20, :disabled => true, :class => "disabled" %>
  </li>
  <%= f.fields_for :steps do |sf| %>
    <li>
      <%= sf.label :command, "* Build Command" %>
      <%= sf.text_area :command, :class => 'step' %>
    </li>
  <% end %>
  <li>
    <%= f.submit @submit_text ||= "Create Project" %>
    <%= link_to "Cancel", projects_path, :confirm => "Are you sure?" %>
  </li>
</ul>
<% end %>
