%h2 All Projects
%ul#projects
  - @projects.each do |p|
    %li{:class => [p.status] }
      - if build = p.max_build
        .name= link_to p.name, p
      - else
        .name= p.name
      .status= p.status_message
      .links
        = link_to "delete", project_path(p), :method => :delete, :confirm => 'Are you sure?' |
        = link_to "edit", edit_project_path(p)
        = link_to "build", new_project_build_path(p), :class => 'button'
