%h2= "Project: #{@project.name}"

%ol#build-list
  - @project.builds.each do |build|
    %li
      %span.build-time
        = nice_time(build.committed_at)
      %span.status
        = status_icon_for(build.status)
      %span.name
        = link_to "Build ##{build.id}", project_build_path(@project, build)
      %span.commit-link
        = "[#{link_to build.commit[0,6], github_link(@project,build.commit)}]".html_safe
